<html>

	<head>
		<title>{{ user.user }}'s page</title>
		<!-- Stylesheets -->
		<link rel='stylesheet' href='/stylesheets/userpage.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src = "/javascripts/userpage.js"></script>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>


	</head>

	<body class = 'closer'>
    	<!-- Navbar -->  
    	<nav class="navbar navbar-inverse navbar-fixed-top">
      		<div class="container">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            			<span class="sr-only">Toggle navigation</span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
            			<span class="icon-bar"></span>
          			</button>
         			<div class = "head"> <a class="navbar-brand " href="/"> CLOSER </a> </div>
        		</div>
        		<div id="navbar" class="collapse navbar-collapse">
          			<ul class="nav navbar-nav navbar-right">
                   <li><a href="/home/{{user.user}}">Home</a></li>
            		  <li><a href = "/groupList/{{user.user}}"> My Groups </a><li>
                  <li><a href="/notifications/{{user.user}}">Notifications ({{user.notifications.length}})</a></li>
                 
            			
            			<li><a href="/logout/{{user.user}}">Logout</a></li>
                  


          			</ul>
        		</div><!--/.nav-collapse -->
      		</div>
    	</nav>
		
    
	

		<!-- Update information -->
		<!-- Form -->   
   		<div class="container">
    		<div class="row">
        		<div class ="col-md-3 current">
              <div class="ui card">
                 <div class = "head2"><p class="header content2">Your Profile </p> </div>
                <div class="image">
                  <img src = "/images/first-pic.jpeg">
                </div>
                <div class="content">
                  <p class="header">{{user.first}} {{user.last}} </p>
                  <div class="meta">
                    <span class="college">College: {{user.college}} </span>
                  </div>

                  <div class="meta">
                    <span class="year">Year: {{user.year}} </span>
                  </div>

                   <div class="meta">
                    <span class="courses">Currently taking: {{user.courses}} </span>
                  </div>
                  <br />
                  <div class="description meta">
                    {{user.bio}}
                  </div>
                </div>
                
              </div>

            </div>
        		<div class="col-md-6">
            		<div class="well signup-box signup-form">
                		<form action="/update/{{user.user}}" method = "post">
                    		<legend class = "login-title">Update Your Information Here<br /></legend>
                    		
                    		<!-- College -->
                    		<div class="form-group">
                        		<label for="college">College</label>
                        		<input name = "college" id="user-college" placeholder="University Name" type="text" class="form-control" value = {{user.college}} required />

                        	</div>

                    		<!-- Class year -->
                    		<div class="form-group">
                            <p class = "message"> {{user.year}} </p>
                      			<label for="year">Year:</label>
                      			<select class="form-control" id="sel1" name = "year" >

                        			<option value = "Freshman">Freshman</option>
                        			<option value = "Sophomore">Sophomore</option>
                        			<option value = "Junior">Junior</option>
                        			<option value = "Senior">Senior</option>
                        			<option value = "Other">Other</option>
                      			</select>
                    		</div>

                    		<!-- Class input -->
                      <div class="form-group form-group-options col-md-6">
                              <label for="classes">Current Courses (Course numbers please)</label>

                          {{#each courses}}
                    		
                                <div class="input-group input-group-option col-xs-12">
                                    <input type="text" value = {{this}} name="option" class="form-control" placeholder="Enter Class Name" required>
                                    <span class="input-group-addon input-group-addon-remove">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </span>
                            	 </div>

                    		 
                         {{/each}}
                        </div>
                        
                        <div class = "row"></div>
                    		<!-- Bio -->
                       	<div class="form-group">
                          	<label for="bio"></label>
                        		<div>
                         			<p> Short Bio</p>

                          			<textarea class="form-control" rows="5" id="bio" name = "bio" >{{user.bio}}</textarea>

                      			</div>

                    		</div>

                        <!-- Discoverable -->
                        <div class = "form-group form-group-options">
                          <label for="discoverable">Discoverable?: </label>
                          <select class="form-control" id="sel1" name="discoverable">
                            <option>Yes</option>
                            <option>No</option>
                          </select>
                          <br />
                        </div>
                        

                    		<!-- Submit Button -->
                        
                          <div class = "col-md-3"></div>
                      		<div class="form-group text-center">
                          		<input type="submit" class="btn btn-default btn-login-submit col-md-6" value="Update" /> 
                      		</div>
                          <div class = "col-md-3"></div>
                        

                        <div class = "row"></div>
                    		
                    		

                		</form>
            		</div>
        		</div>

            <div class ="col-md-3 current">
              <div class="ui card">
                 <div class = "head"> <p class="header content3">Your Groups </p> </div>
                <div class="content4">
                  {{#each user.groups}}
                  <p class="header2">{{groupName}} </p>
                  <p class = "header3"> Class: {{subject}} </p>
                  {{/each}}
                  
                </div>
                
              </div>

            </div>

    		</div>
		</div>
	</body>

</html>